<!-- About Section -->
<section class="success" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>About Me</h2>
              <hr class="star-light">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
              <p>기술이 사회적 약자를 포함한 모든 사람의 삶을 실질적으로 개선할 수 있다는 믿음을 가진 개발자 홍정현입니다. [cite: 1] 금융이라는 복잡한 주제가 일상의 일부가 되도록 만드는 것을 목표로 삼고 있습니다. [cite: 1]</p>
          </div>
          <div class="col-lg-4">
              <p>중앙대학교 소프트웨어학부 졸업 예정이며, [cite: 13] <b>TOPCIT 수준 3(실무 전문가 수준)</b> 역량을 보유하고 있습니다. [cite: 35] 현재 <b>핀테크인턴십코스</b>를 통해 금융 IT 실무 능력을 쌓고 있습니다. [cite: 11, 17]</p>
          </div>
      </div>
  </div>
</section>
